/* 10. =GRID
=================================================== */

.row {
	max-width:1004px;
	margin: 0 auto;
	padding:0 2%;
	position: relative;
	width: 96%;
}

.section {
	margin-bottom:1.538460em;
}

.column {
	display:inline;
	float:left;
	margin:0 2% 0 0;
	min-height:1px;/* FIXES EMPTY COLUMNS COLLAPSING */
}

.one {/*44*/
	width:4.375%;
}

.two {/*108*/
	width:10.75%;
}

.three {/*172*/
	width:17.125%;
}

.four {/*236*/
	width:23.5%;
}

.five {/*300*/
	width:29.875%;
}

.six {/*364*/
	width:36.25%;
}

.seven {/*428*/
	width:42.625%;
}

.eight {/*492*/
	width:49%;
}

.nine {/*556*/
	width:55.375%;
}

.ten {/*620*/
	width:61.75%;
}

.eleven {/*684*/
	width:68.125%;
}

.twelve {/*748*/
	width:74.5%;
}

.thirteen {/*812*/
	width:80.875%;
}

.fourteen {/*876*/
	width:87.25%;
}

.fifteen {/*940*/
	width:93.625%;
}

.sixteen {/*1004*/
	width:100%;
}

.end {
	margin-right:0 !important;
}