/*
	Description: Responsive Starter Kit - CSS
	Name: Laika
	Author:Andy Field @ Field Office
	Author URI: http://fieldoffice.co.uk
*/

/*
    CSS ORDER
    1.	=GLOBAL RESET
    2.	=BASE
    3.	=HELPERS
	4.	=TYPOGRAPHY    
    5. 	=HEADER
    6.	=LAYOUT
    7.	=FOOTER
	8.	=TABLES
    9.	=FORMS
    10.	=GRID
    11.	=RESPONSIVE SETTINGS
    12.	=DEVELOPMENT TESTS. NOT TO USED ON A LIVE ENVIRONMENT
    
    COLOURS

	GRID
	
	MEDIA QUERIES
	    
    - MIN WIDTH 480px
    - MIN WIDTH 600px
    - MIN WIDTH 768px
    - MIN WIDTH 992px
    - MIN WIDTH 1382px

	CALCULATION
	
	n x 0.062500em
	
        
*/

@import url("reset.css"); 
@import url("base.css"); /* CONFIGURABLE */
@import url("helpers.css"); /* CONFIGURABLE */
@import url("typography.css"); /* CONFIGURABLE */
@import url("header.css"); /* CONFIGURABLE */
@import url("layout.css"); /* CONFIGURABLE */
@import url("footer.css"); /* CONFIGURABLE */
@import url("tables.css"); /* CONFIGURABLE */
@import url("forms.css"); /* CONFIGURABLE */
@import url("grid.css"); /* CONFIGURABLE */
@import url("responsive.css"); /* CONFIGURABLE */
@import url("dev.css"); /* CONFIGURABLE */


