/* 14. =MODULES - Modified 16.10.12
******************************************/

.label {
	background:#222;
	color:#fff;
	display:inline-block;
	font-size:0.769230em;
	margin:0 0 1em 0;
	padding:6px 0;
	text-align:center;
	width:12em;
	opacity:0.6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.module {
	padding:40px 0 0 0;
}

.grid-container {
	margin: 0 0 10px 0;
	overflow:hidden;
	position: relative;

}

.gridme {
	max-width:  72.307620em;
	margin: 0 auto;
	padding:0 2%;
	width: 96%;
}

.gridme .column {
	background:#f7f7f7;
	line-height:2em;
	text-align:center;
}

.gridme .inset {
	background:#ddd;
	margin-top:0.461538em;
	margin-bottom:0.461538em;
}

.four-two {
	margin:0 6.666666666666667% 0 0;
	width:46.666666666666667%;
}

.six-two {
	margin:0 4.347826086956522% 0 0;
	width:30.434782608695652%;
}

.six-three {
	margin:0 4.347826086956522% 0 0;
	width:47.826086956521739%;
}

.six-four {
	margin:0 4.347826086956522% 0 0;
	width:65.217391304347826%;
}

.eight-two {
	margin:0 3.225806451612903% 0 0;
	width:22.580645161290323%;
}

.eight-four {
	margin:0 3.225806451612903% 0 0;
	width:48.387096774193548%;
}

.nine-three {
	margin:0 2.857142857142857% 0 0;
	width:31.428571428571429%;
}